ion-content {
    --background: linear-gradient(to bottom, #f2f2f2, #ffffff);
  }
  
  ion-grid {
    height: 100%;
  }
  
  img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
  
  ion-text {
    text-align: center;
  }
  
  ion-button {
    margin-top: 20px;
  }