<ion-content fullscreen>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12" size-md="6">
        <!-- Aquí puedes colocar tu logo o imagen principal -->
        <img src="assets/images/digivice-screen.png" alt="Logo de la App">
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="12" size-md="6">
        <!-- Aquí puedes colocar un mensaje de bienvenida -->
        <ion-text color="primary">
          <h1>¡Bienvenido!</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col size="12" size-md="6">
        <ion-button expand="block" routerLink="/login">Iniciar sesión</ion-button>
        <ion-button expand="block" fill="outline" routerLink="/signup">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>