<ion-content [fullscreen]="true" class="background">
  <ion-row style="height: 100vh; align-items: center;" class="content">
    <ion-col size-md="6" size-lg="4" size-xl="3" style="text-align: center;">
      <img src="assets/images/digimon.png" alt="Logo de la app" class="responsive-image">
      <ion-button [routerLink]="['/login']" color="primary">Iniciar sesión</ion-button>
      <ion-button [routerLink]="['/signup']" color="primary">Registrarse</ion-button>
    </ion-col>
  </ion-row>
</ion-content>