<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">¿Olvidó su contraseña?</ion-title>
    <p class="subTitle">Ingrese tu correo electrónico
    para recibir un enlace para restaurar tu contraseña</p>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="Ingrese su correo electrónico" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>