<ion-content [fullscreen]="true">
  <ion-row style="height: 100vh; align-items: center; justify-content: center;" class="content">
    <ion-col size-md="6" size-lg="4" size-xl="3" style="text-align: center;">
      <form [formGroup]="resetForm" novalidate>
        <ion-title class="ion-text-center ion-margin-bottom" color="primary">¿Olvidaste la contraseña?</ion-title>
        <ion-card-subtitle class="ion-text-center ion-margin-bottom" color="secondary">Ingrese tu correo electrónico
          para recibir un enlace que te ayude a restaurar tu contraseña.</ion-card-subtitle>
        <br>
        <ion-item>
          <ion-input formControlName="email" placeholder="Correo electrónico" class="input"></ion-input>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-item>
        <div *ngIf="this.resetForm?.controls?.['email']?.touched && this.resetForm.controls?.['email']?.invalid">
          <ion-text *ngIf="errorControl.email.errors?.required" color="primary">
            Correo electrónico requerido
          </ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern" color="primary">
            Correo electrónico no válido
          </ion-text>
        </div>
        <ion-button expand="block" (click)="resetPassword()" [disabled]="resetForm.invalid">
          Restaurar Contraseña<ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <div class="ion-text-center ion-margin-top">
          ¿No tienes una cuenta? <a [routerLink]="['/signup']" color="primary">Regístrate ahora</a>
        </div>
        <div>
          <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']" color="primary">Inicia Sesión</a></p>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>