<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Registrate para acceder a una cuenta</p>
  </div>

  <form action="">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Nombre" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo electrónico" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Repita su contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
     
      <div class="signuplink">
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']" style="color:#FFC33F">Inicia Sesión</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>