<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Inicio de Sesión</ion-title>
    <p class="subTitle">Ingresa para acceder a tu cuenta</p>
  </div>

  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="Correo electrónico" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm?.controls?.['email']?.touched && this.loginForm.controls?.['email']?.invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" color="danger">
          Correo electrónico requerido
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" color="danger">
          Correo electrónico no válido
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="Contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm?.controls?.['password']?.touched && this.loginForm.controls?.['password']?.invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" color="danger">
          Contraseña requerida
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" color="danger">
          Debe contener
          1 número,
          1 letra mayúscula,
          1 letra minúscula,
          6 o más caracteres
        </ion-text>
      </div>
      <div class="forgotpassword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F">Olvidaste tu contraseña?</a>
      </div>
      <div class="signuplink">
        <p>¿No tienes una cuenta? <a [routerLink]="['/signup']" style="color:#FFC33F">Regístrate ahora</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
      <ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>