<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="padding-left: 10px;">
      <ion-title>{{ user?.fullname }}</ion-title>
      Portafolio actual: {{currentPage}} Digimons
    </ion-buttons>
    <ion-buttons slot="end" style="padding-right: 10px;">
      <ion-button (click)="logout()" class="header-button">
        <p>Salir </p><ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <div id="container" class="content-inner">
    <ion-list class="list-container" class="content">
      <ion-card *ngFor="let digimon of digimons" class="card-item">
        <ion-img [src]="digimon.image || 'assets/images/noimage.png'" (click)="goToCard(digimon.id)" class="card-image"></ion-img>
        <ion-card-title class="card-title">{{ digimon.name }}</ion-card-title>
      </ion-card>
      <ion-card>
        <ion-button (click)="nextPage()" class="next-button">Ver más</ion-button>
      </ion-card>
    </ion-list>
  </div>
</ion-content>